[Unit]
Description=Cardano chain index for Marlowe
After=multi-user.target
Requires=cardano-node.service
After=cardano-node.service

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe
ExecStart=/home/dino/.local/bin/cardano-chain-index
Restart=on-failure
RestartSec=10s
SyslogIdentifier=cardano-chain-index

[Install]
WantedBy=multi-user.target
