[Unit]
Description=Cardano wallet for Marlowe
After=multi-user.target
Requires=cardano-node.service
After=cardano-node.service

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe
ExecStart=/home/dino/.local/bin/start-cardano-wallet
SyslogIdentifier=cardano-wallet

[Install]
WantedBy=multi-user.target
