[Unit]
Description=Cardano node for Marlowe
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe
ExecStart=/home/dino/.local/bin/cardano-node
SyslogIdentifier=cardano-node

[Install]
WantedBy=multi-user.target
