[Unit]
Description=Marlowe Dashboard Server
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe
ExecStart=/home/dino/.local/bin/start-marlowe-dashboard-server
SyslogIdentifier=marlowe-dashboard-server

[Install]
WantedBy=multi-user.target
