[Unit]
Description=Marlowe PAB
After=multi-user.target
Requires=cardano-wallet.service
Requires=chain-index.service
After=cardano-wallet.service
After=chain-index.service

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe/marlowe-cardano
ExecStart=/home/dino/.nix-profile/bin/nix-shell --run start-marlowe-pab
Restart=on-failure
RestartSec=10s
SyslogIdentifier=marlowe-pab

[Install]
WantedBy=multi-user.target
