[Unit]
Description=Marlowe Dashboard Client
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/dino/dev/marlowe
ExecStart=/home/dino/.local/bin/marlowe-dashboard-client
SyslogIdentifier=marlowe-dashboard-client

[Install]
WantedBy=multi-user.target
