[Unit]
Description=Marlowe PAB
After=multi-user.target
Requires=cardano-wallet.service
Requires=cardano-chain-index.service
After=cardano-wallet.service
After=cardano-chain-index.service

[Service]
Type=simple
ExecStart=/home/dino/.local/bin/start-marlowe-pab
Restart=on-failure
RestartSec=10s
SyslogIdentifier=marlowe-pab

[Install]
WantedBy=multi-user.target
