[Unit]
Description=Marlowe Dashboard Client
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/dino/.local/bin/start-marlowe-dashboard-client
SyslogIdentifier=marlowe-dashboard-client

[Install]
WantedBy=multi-user.target
